.btn {
    border-radius: 0;
    color: #fff;
    border: none;

    &.btn-primary {
        background-color: $primaryColor;

        &:hover {
            background-color: $secondaryLight;
        }
    }
    &.btn-secondary-light {
        background-color: $secondaryLight;

        &:hover {
            background-color: #fff;
        }
    }
    &:hover {
        color: #fff;
    }
}
.btn-primary {
    border: none;
    background-color: $primaryColor;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $secondaryLight;
        transition: background-color 0.2s ease-in-out;
    }
}
.modal-content {
    top: 30px;
}